
@{
    ViewBag.Title = "Index2";
}

<h2>Index2</h2>

Minombre es: <b>@ViewData["Nombre"]</b> y mi correo es: <a href="@ViewData["correo"]">Danna Marlene</a>
<br /> Fecha: @(((DateTime)ViewData["FechaNazi"]).ToLongDateString())

